body{
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.811);
}
#logoicon{
    height: 30px;
    cursor: pointer;
}
.formarea{
    /* display: flex;
    justify-content: center; */
    margin-top: 130px;
    /* display: inline;
    vertical-align: middle; */
}
table{
    /* border: 10px solid red; */
    padding: 40px;
}
tr,td{
    padding: 10px;
}
.p{
    font-size: 70px;
    font-weight: bolder;
    text-align: center;
    text-transform: capitalize;
    color: whitesmoke;
    padding-bottom: 60px;
}
.span{
    color: red;
    font-size: 25px;
    text-align: center;
}
label{
    font-size:38px;
    color:white;
    /* text-transform: capitalize; */
    font-weight: 900;
}
.int{
    height: 38px;
    width: 100%;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
    text-transform: capitalize;
    padding: 5px;
    /* margin-left: 10px; */
}
.emaili{
    height: 38px;
    width: 100%;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
    /* text-transform: capitalize; */
    padding: 5px;
}
.int::placeholder{
    text-transform: capitalize;
    color: grey;
}
.emaili::placeholder{
    text-transform: capitalize;
    color: grey;
}
.btn{
    font-size: xx-large;
    margin-top: 10px;
    border-radius: 32px;
    padding: 10px;
    background-color: rgb(46, 212, 12);
    color:black;
    border-color:white;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    width: 100%;
}
.btn:hover{
    
    color:rgba(255, 255, 255, 0.816);
    background-color: gold;
    font-weight: bolder;
    transform: scale(1.1);
}
.btn-show{
    font-size: 15px;
    margin-top: 5px;
    border-radius: 15px;
    padding: 5px;
    /* background-color: rgb(46, 212, 12); */
    color:black;
    font-weight:700;
    border-color:white;
    text-transform: uppercase;
    text-align: center;
    width: 65px;
    cursor: pointer;
}
.reg{
    text-align: center;
}
.for{
    font-size: 20px;
    color: red;
}
a{
    text-decoration: none;
    color: cyan;
}